@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

#blocHeaderAccueil {
  width: auto;
  height: 113px;
  display: grid;
  grid-template-rows: 63px 50px;
  grid-template-columns: 1fr;
  grid-template-areas: "logo" "localisation";
}
#blocHeaderAccueil #blocHeaderTitle {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocHeaderAccueil #blocHeaderTitle img {
  width: 164px;
  height: auto;
}
#blocHeaderAccueil #blocHeaderLocalisation {
  grid-area: localisation;
  display: flex;
  justify-content: center;
  background: linear-gradient(#cfcfcf, 1px, #d4d4d4, 2px, #dcdcdc, 3px, #e3e3e3, 4px, #e8e8e8, 5px, #eaeaea);
}
#blocHeaderAccueil #blocHeaderLocalisation #blocTextLocalisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
#blocHeaderAccueil #blocHeaderLocalisation #blocTextLocalisation i {
  margin-right: 18px;
  margin-left: -18px;
}

#reservation {
  height: 287px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
#reservation #blocReservation {
  width: 82%;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reservation #blocReservation h2 {
  font-size: 1.6em;
  margin: 0;
}
#reservation #blocReservation p {
  font-size: 1.1em;
}
#reservation #blocReservation #buttonExplore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 218px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

#functioning {
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#functioning #conteneurFunctioning {
  height: 335px;
}
#functioning #conteneurFunctioning h2 {
  margin-top: 0;
}
#functioning #conteneurFunctioning #blocFunctioning {
  height: 275px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#functioning #conteneurFunctioning #blocFunctioning .blocInternFunctioning {
  height: 75px;
  width: 322px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.11);
}
#functioning #conteneurFunctioning #blocFunctioning .blocInternFunctioning .numeroListFunctioning {
  color: white;
  background-color: #9356DC;
  border-radius: 30px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  margin-right: 20px;
}
#functioning #conteneurFunctioning #blocFunctioning .blocInternFunctioning p {
  font-weight: bold;
}
#functioning #conteneurFunctioning #blocFunctioning .blocInternFunctioning i {
  opacity: 0.5;
  margin-right: 20px;
}
#functioning #conteneurFunctioning #blocFunctioning .addStyleColor {
  background-color: #f5edff;
}
#functioning #conteneurFunctioning #blocFunctioning .addStyleColor i {
  color: #9356DC;
  opacity: 1;
}

#restaurants {
  height: 1226px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#restaurants #conteneurRestaurants {
  height: 1104px;
  width: 340px;
}
#restaurants #conteneurRestaurants h2 {
  margin-top: 0;
}
#restaurants #conteneurRestaurants #blocRestaurant {
  height: 1058px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#restaurants #conteneurRestaurants #blocRestaurant .blocInternRestaurant {
  height: 251px;
  width: 340px;
  border-radius: 20px;
  box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
}
#restaurants #conteneurRestaurants #blocRestaurant .blocInternRestaurant .blocImgRestaurant {
  height: 174px;
  border-radius: 20px 20px 0px 0px;
}
#restaurants #conteneurRestaurants #blocRestaurant .blocInternRestaurant .blocImgRestaurant img {
  object-fit: cover;
  height: 174px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
#restaurants #conteneurRestaurants #blocRestaurant .blocInternRestaurant .blocUnderImg {
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#restaurants #conteneurRestaurants #blocRestaurant .blocInternRestaurant .blocUnderImg .blocTitleRestaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 42px;
  width: 280px;
}
#restaurants #conteneurRestaurants #blocRestaurant .blocInternRestaurant .blocUnderImg .blocTitleRestaurant h3 {
  margin: 0;
}
#restaurants #conteneurRestaurants #blocRestaurant .blocInternRestaurant .blocUnderImg .blocTitleRestaurant p {
  margin: 0;
}
#restaurants #conteneurRestaurants #blocRestaurant .blocInternRestaurant .blocUnderImg .blocLike {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#restaurants #conteneurRestaurants #blocRestaurant .blocInternRestaurant .blocUnderImg .blocLike i {
  scale: 1.5;
}

/*# sourceMappingURL=style.css.map */
