
#blocHeaderAccueil
{
    width: auto;
    height: 113px;
    
    display: grid;
    grid-template-rows: 63px 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo"
    "localisation";

        #blocHeaderTitle
        {
            grid-area: logo;
            @include flexBox_center;
                img
                {
                    width: 164px;
                    height: auto;
                }
        }
        #blocHeaderLocalisation
        {
            grid-area: localisation;
            @include flexBox_center;
            
            background: linear-gradient(#cfcfcf,1px,#d4d4d4,2px,#dcdcdc,3px,#e3e3e3,4px,#e8e8e8,5px,#eaeaea);
                #blocTextLocalisation
                {
                    @include flexBox_center;
                    
                    height: auto;
                        i{
                             margin-right: 18px;
                        }
                        #localisationInput{
                            background-color: transparent;
                            border: transparent;
                            font-weight: bold;
                            width: 120px;
                            &::placeholder{
                               color: black;
                               opacity: 1; 
                            }
                        }
                    
                }
        }
}

#reservation
{
    height: 287px;
    @include flexBox_center;
    background-color: $back-color-grey;
    #blocReservation
    {
        width: 82%;
        height: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;


        h2{
           font-size: 1.6em; 
           margin: 0;
        }
        p{
            font-size: 1.10em;
            
        }
        #buttonExplore
        {
            @include flexBox_center;
            height: 50px;
            width: 218px;
            border-radius : 30px;
            background: linear-gradient($secondaire-color,$primaire-color);
            margin-top: 10px;
            font-weight: bold;
            box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.30);
            color: white;
         
            &:hover{
                filter: brightness(1.10);
                box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.40);
            }
        }
       
    }
}

#functioning
{
    height: 440px;
    @include flexBox_center;
    #conteneurFunctioning
    {
        height: 335px;
        h2
        {
            margin-top: 0;
        }
        #blocFunctioning
        {
            height: 275px;
            width: 340px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .blocInternFunctioning
            {
                height: 75px;
                width: 322px;
                display: flex;
                align-items: center;
                background-color: $back-color-grey;
                border-radius: 20px;
                box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.11);
                &:hover{
                    background-color: #f5edff;
                    i{
                        color: $primaire-color;
                        opacity: 1;
                    }
                }
                    
                .numeroListFunctioning
                {
                    color: white;
                    background-color: $primaire-color;
                    border-radius: 30px;
                    width: 24px;
                    height: 24px;
                    @include flexBox_center;
                    margin-left: -10px;
                    margin-right: 20px;
                }
                p{
                    font-weight: bold;  
                }
                i{
                    opacity: 0.5;
                    margin-right: 20px;
                }
            }
            
        }
    }
    
}

#restaurants{
    height: 1226px;
    background-color: $back-color-grey;
    @include flexBox_center;
    #conteneurRestaurants{
        height: 1104px;
        width: 340px;
        h2{
            margin-top: 0;
        }
        #blocRestaurant{
            height: 1058px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .blocInternRestaurant{
                height: 251px;
                width: 340px;
                border-radius: 20px;
                box-shadow: 0px 7px 5px -2px rgba(0,0,0,0.11);
                display: flex;
                flex-direction: column;
                &:hover{
                    opacity: 0.8;
                    scale: 1.025;
                    transition: ease-in-out 0.25s;
                    
                }
               
                
                .blocImgRestaurant{
                    height: 174px;
                    border-radius: 20px 20px 0px 0px;
                    position: relative;
                    text-align: center;
                    color: greenyellow;
                    img{
                        object-fit: cover;
                        height: 174px;
                        width: 100%;
                        border-radius: 20px 20px 0px 0px;
                    }
                    .textNew{
                        position: absolute;
                        height: 30px;
                        width: 80px;
                        @include flexBox_center;
                        background-color: $back-new-color;
                        color: $text-new-color;
                        font-weight: bold;
                        top:8%;
                        left: 73%;
                        
                    }
                }
                .blocUnderImg{
                    height: 77px;
                    @include flexBox_center;
                    .blocTitleRestaurant{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 42px;
                        width: 280px;
                        h3{
                            margin: 0;
                        }
                        p{
                            margin: 0;
                        }
                    }
                    .blocLike{
                        height: 40px;
                        width: 40px;
                        @include flexBox_center;
                        i{
                        font-size: 1.5em;
                        }
                           
                        
                    }
                }
            }
        }
    }
}